.hidden {
  display: none;
}
body {
  margin: 0;
}
.header {
  margin-bottom: 100px;
}
/* #region clients */
.clients {
  margin-bottom: 117px;
}
.clients-title {
  font-weight: 700;
  font-size: 40px;
  color: #22343d;
  margin: 0 auto;
  width: 229px;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: 64px;
  justify-content: center;
}
.clients-item {
  width: calc((100%-192px) / 4);
}
/* #endregion clients */

/* #region choose */
.choose {
  background-color: #f5f5f5;
  padding-top: 24px;
  padding-bottom: 68px;
}

.choose-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
  text-align: center;
  margin-bottom: 50px;
}
.choose-list {
  display: flex;
  gap: 30px;
}
.choose-item {
  width: calc((100%-60px) / 3);
}
.choose-item-cont {
  border: 1px solid #dedede;
  border-radius: 10px;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 28px;
  padding-right: 28px;
  max-width: 350px;
}
.product-svg-cont {
  margin: 0 auto;
  margin-bottom: 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.choose-item-title {
  font-weight: 700;
  font-size: 24px;
  /* line-height: 33px; */
  line-height: 1.375;
  letter-spacing: 0em;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}
.choose-item-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 27px; */
  line-height: 1.7;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
}
/* #endregion choose */

/* #region work */
.step-one {
  padding-top: 101px;
  padding-bottom: 100px;
}
.work-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 73px;
}
.cont-step {
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-img {
  margin-right: 89px;
}
.cont-step-text {
}
.step-subtitle {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  margin-bottom: 16px;
}
.span-subtitle {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
}
.step-text {
  width: 438px;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 28px; */
  line-height: 1.75;
  color: #22343d;
}
.img-two {
  margin-left: 89px;
}
.mb {
  margin-bottom: 77px;
}
.step-btn {
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background-color: #02897a;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 11px;
  margin: 0 auto;
}
/* #endregion work */

/* #region join */
.join {
  padding-top: 35px;
  padding-bottom: 45px;
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}
.join-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  text-align: center;
  width: 537px;
  margin: 0 auto 93px auto;
}
.join-list-cont {
  display: flex;
  justify-content: space-around;
}
.join-list-cont-two {
  text-align: center;
}
.join-item-img {
  margin-bottom: 27px;
  display: inline-block;
}
.join-item-title {
  margin-bottom: 16px;
}
.join-list {
}
.join-item {
  margin-bottom: 10px;
}
.join-item-text {
  margin-top: 12px;
}
.join-list .join-item:last-child {
  margin-bottom: 0;
}
/* #endregion join */
