input {
  outline: none;
}
textarea {
  outline: none;
}

/* #region header */

/* #endregion header */
.dark-mode-btn {
}
@media screen and (min-width: 1150px) {
  .dark-mode-btn {
    width: 32px;
    height: 32px;
    background-color: #f3f3f3;
    fill: #02897a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    visibility: visible;
    opacity: 1;
  }
}
/* #region busnises */
.bisnises {
  padding-top: 50px;
  padding-bottom: 46px;
}
.bisnises-title {
  font-weight: 600;
  font-size: 36px;
  /* line-height: 60px; */
  line-height: 1.49;
  letter-spacing: -0.03em;
  max-width: 350px;
  margin: 0 auto 16px auto;
  text-align: center;
}
.bisnises-text {
  font-weight: 400;
  font-size: 20px;
  /* line-height: 32px; */
  line-height: 1.6;
  letter-spacing: -0.03em;
  margin: 0 auto 19px auto;
  max-width: 353px;
  text-align: center;
}
.bisnises-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  border-radius: 100px;
  max-width: 346px;
  height: 66px;
  padding-right: 8px;
  margin: 0 auto 24px auto;
}

.bisnises-form-input {
  padding-left: 20px;
  border: none;
  border-radius: 100px;
  width: 100%;
  height: 100%;
}
.dark-body-mode .bisnises-form-input {
  background-color: transparent;
}
.bisnises-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 16px; */
  line-height: 1;
  letter-spacing: -0.03em;
}
.dark-body-mode .bisnises-form-input::placeholder {
  color: #fff;
}
.bisnises-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 50px;
  min-width: 117px;
  background-color: #02897a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.bisnises-form-btn:hover {
  background-color: #fff;
  color: #02897a;
  border: 1px solid #eaeaea;
}
.dark-body-mode .bisnises-form-btn:hover {
  background-color: transparent;
  color: #fff;
}
.bisnises-people-cont {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 9px;
  margin-bottom: 87px;
}
.bisnises-cont-img {
  position: inherit;
  align-items: center;
  display: flex;
  width: 128px;
}

.bisnises-img {
  position: relative;
  transition: z-index 0.3s, transform 0.3s;
}
.rahid {
  z-index: 1;
  right: 0;
}
.fahid {
  z-index: 2;
  right: 20px;
}
.sahid {
  z-index: 3;
  right: 40px;
}
.bisnises-img:hover {
  z-index: 10;
  transform: scale(1.1);
}

.rahid:hover + .fahid + .sahid {
  z-index: 0;
}

.bisnises-people-text {
  font-weight: 400;
  font-size: 14px;
}
.green {
  font-weight: 500;
  color: #02897a;
}
.bisnises-g-img {
  margin: 0 auto;
}
@media screen and (min-width: 1150px) {
  .bisnises {
    padding-top: 49px;
    padding-bottom: 66px;
  }
  .business-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bisnises-title {
    font-size: 40px;
    max-width: 380px;
    margin: 0 0 24px 0;
    text-align: left;
  }
  .bisnises-text {
    font-weight: 400;
    font-size: 20px;
    /* line-height: 32px; */
    line-height: 1.6;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
    max-width: 535px;
    text-align: left;
  }
  .bisnises-form {
    max-width: 469px;
    margin: 0 0 24px 0;
  }
  .bisnises-people-cont {
    justify-content: flex-start;
  }
}
/* #endregion busnises */

/* #region stories */
.stories {
  margin-bottom: 100px;
}
.stories-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
}
.stories-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  /* line-height: 26px; */
  line-height: 1.625;
  margin: 0 auto 50px auto;
}
.stories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
.stories-item {
  border: 1px solid #dedede;
  border-radius: 8px;
  overflow: hidden;
  max-width: 348px;
}
.stories-item-cont {
  padding: 22px 30px 40px 24px;
}
.dark-body-mode .stories-item-cont {
  background-color: #fff;
  color: #22343d;
}
.stories-item-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 28px; */
  line-height: 1.75;
  margin-bottom: 12px;
}
.stories-item-span {
  font-weight: 700;
}
.stories-item-title {
  font-weight: 700;
  font-size: 24px;
  /* line-height: 40px; */
  line-height: 1.7;
}
.stories-item-container {
  position: relative;
  overflow: hidden;
}
.stories-hidden-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
  background-color: #fff;
  display: flex;
  padding: 15px;
}
.stories-item:hover .stories-hidden-cont {
  transform: translateY(0);
}

.stories-hidden-text {
  font-weight: 600;
  font-size: 20px;
  /* line-height: 40px; */
  line-height: 1.7;
  text-align: center;
}
.dark-body-mode .stories-hidden-text {
  color: #22343d;
}
.stories-hidden-img {
  margin: 0 auto;
}
.stories-hidden-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.stories-input-cont {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.stories-hidden-label {
  color: #22343d;
}
.stories-hidden-input {
}

.stories-hidden-btn {
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding-right: 22px;
  padding-left: 20px;
  min-height: 50px;
  min-width: 117px;
  background-color: #02897a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #fff;
}
.stories-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  /* line-height: 26px; */
  line-height: 1.44444;
  color: #22343d;
  fill: #2e3a59;
  justify-content: center;
  margin-top: 50px;
  transition: transform 250ms ease-in-out;
}
.stories-link:hover {
  transform: scale(1.1);
}
.dark-body-mode .stories-link {
  color: #fff;
  fill: #fff;
}

@media screen and (min-width: 1150px) {
  .stories-list {
    row-gap: 32px;
    column-gap: 31px;
  }
  .stories-item {
    width: calc((100% - 64px) / 3);
  }
}
/* #endregion stories */

/* #region contacts */
.contacts {
  margin-bottom: 100px;
}
.contacts-title {
  font-weight: 700;
  font-size: 34px;
  /* line-height: 57px; */
  line-height: 1.7;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 17px;
}
.contacts-text {
  font-weight: 500;
  font-size: 18px;
  /* line-height: 28px; */
  line-height: 1.6;
  letter-spacing: 0.01em;
  margin: 0 auto;
  text-align: center;
  color: #374754;
  max-width: 335px;
  margin-bottom: 55px;
}
.dark-body-mode .contacts-text {
  color: #fff;
}
.contacts-list-link {
  display: none;
}

.contacts-link-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 55px;
}
.contacts-link-item {
}
.contacts-link-icon {
}
.contacts-link-svg {
  fill: #11b5e4;
}
.facebook {
  fill: #007ab6;
}
.linkedin {
  fill: #025279;
}
.contacts-map-img {
  margin: 0 auto;
}
@media screen and (min-width: 1150px) {
  .footer-list-link {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
  }
  .contacts-link-list {
    display: none;
  }
  .contacts-list-link {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 56px;
  }
  .contacts-logo-link {
    width: 40px;
    height: 40px;
    background-color: #edfffc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: #02897a;
    fill: transparent;
    transition: stroke 250ms ease-in-out, background-color 300ms ease-in-out,
      transform 250ms ease-in-out;
  }
  .contacts-logo-link:hover,
  .contacts-logo-link:focus {
    stroke: #edfffc;
    background-color: #02897a;
    transform: scale(1.1);
  }
  .dark-body-mode .desk-map-picture img {
    border-radius: 16px;
  }
}
/* #endregion contacts */

/* #region form */
.form {
  margin-bottom: 110px;
}
.form-cont {
  width: 100%;
  margin: 0 auto;
}

.form-label {
  font-weight: 700;
  font-size: 24px;
  /* line-height: 33px; */
  line-height: 1.375;
  letter-spacing: 0em;
  color: #252b42;
  margin-bottom: 32px;
  text-align: center;
  display: block;
}
.dark-body-mode .form-label {
  font-weight: 400;
  font-size: 24px;
  /* line-height: 33px; */
  line-height: 1.375;
  letter-spacing: 0em;
  color: #fff;
}
.form-cont-input {
}
.form-input {
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 19px 20px;
  width: 100%;
  height: 54px;
  background-color: #f5f5f5;
  margin-bottom: 32px;
}
.form-input::placeholder {
  font-weight: 400;
  font-size: 15px;
  /* line-height: 16px; */
  line-height: 1.06667;
  letter-spacing: 0.01em;
  color: #22343d;
}
.form-textarea {
  border: 1px solid #e8e8e8;
  padding: 23px 20px;
  width: 100%;
  height: 193px;
  resize: none;
  background-color: #f5f5f5;
  margin-bottom: 32px;
}
.form-textarea::placeholder {
  font-weight: 400;
  font-size: 15px;
  /* line-height: 16px; */
  line-height: 1.06667;
  letter-spacing: 0.01em;
  color: #22343d;
}
.form-btn {
  border-radius: 35px;
  padding: 18px 38px;
  width: 145px;
  height: 52px;
  background-color: #02897a;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 16px; */
  line-height: 1;
  letter-spacing: 0.01em;
  color: #fff;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.form-btn:hover {
  background-color: #fff;
  color: #02897a;
  border: 1px solid #ddd;
}
.dark-body-mode .form-btn:hover {
  background-color: transparent;
  color: #fff;
}
@media screen and (min-width: 1150px) {
  .form-cont {
    max-width: 868px;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 52px 50px;
    margin: 0 auto;
  }
  .dark-body-mode .form-cont {
    background-color: #22343d;
    border: 1px solid #464646;
  }
  .form-label {
    margin-bottom: 45px;
  }
  .form-input {
    margin-bottom: 45px;
  }
  .form-textarea {
    margin-bottom: 45px;
  }
}
/* #endregion form */
