.hidden {
  display: none;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #22343d;
  margin: 0;
  /* transition: background-color 50ms ease-in-out, color 50ms ease-in-out; */
}
body.dark-body-mode {
  background-color: #1f2e35;
  color: #fff;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  padding: 0;
}
input {
  outline: none;
  margin: 0;
  padding: 0;
}
textarea {
  outline: none;
  padding: 0;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.container {
  max-width: 411px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1150px;
  }
}
/* #region header */
.header {
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.dark-body-mode .header {
  background-color: #1f2e35;
}
.header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-logo-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}
.dark-body-mode .header-logo-text {
  color: #fff;
}
.header-list,
.header-list-btn {
  display: none;
}
.burger-btn {
  background-color: transparent;
  height: 31px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.burger-icon {
  background-color: #173a56;
  transition: transform 300ms ease-in-out;
  width: 21px;
  height: 3px;
  border-radius: 5px;
}
.dark-body-mode .burger-icon {
  background-color: #fff;
}
.top,
.bottom {
  transition: transform 300ms ease-in-out;
}
.middle {
  transition: opacity 200ms ease-in-out;
}
.burger-btn.active .top {
  transform: translateY(8px) rotate(45deg);
}
.burger-btn.active .middle {
  opacity: 0;
}

.burger-btn.active .bottom {
  transform: translateY(-8px) rotate(-45deg);
}
.dark-mode-btn {
  width: 32px;
  height: 32px;
  background-color: #f3f3f3;
  fill: #02897a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  opacity: 0;
  visibility: hidden;
  transition: background-color 250ms ease-in-out, fill 250ms ease-in-out,
    opacity 250ms ease-in-out, visibility 250ms ease-in-out,
    transform 250ms ease-in-out;
}
.dark-mode-btn:hover {
  transform: scale(1.1);
}
.dark-mode-btn.btn-active {
  background-color: #02897a;
  fill: #f3f3f3;
}
.dark-mode-btn.visible {
  opacity: 1;
  visibility: visible;
}
.dark-mode {
}

@media screen and (min-width: 1150px) {
  .header {
    box-shadow: none;
    margin-bottom: 25px;
  }
  .burger-btn {
    display: none;
  }
  .header-logo {
    margin-right: 237px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-nav {
    display: flex;
  }
  .header-list {
    display: flex;
    gap: 30px;
  }
  .header-list .weight {
    font-weight: 600;
  }
  .header-link {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    color: #22343d;
    padding: 26px 0;
    display: block;
    transition: 200ms ease-in-out;
  }
  .dark-body-mode .header-link {
    color: #fff;
  }

  .header-link:hover,
  .header-link:focus {
    font-weight: 600;
  }

  .header-list-btn {
    display: flex;
    margin-left: auto;
    gap: 21px;
    align-items: center;
  }
  .header-btn {
    font-weight: 600;
    font-size: 16px;
    color: #173a56;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    background-color: #fff;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  }
  .dark-body-mode .header-btn {
    background-color: transparent;
    color: #fff;
  }
  .header-btn:hover,
  .header-btn:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
  }

  .header-btn-green {
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    border: none;
    background-color: #02897a;
    color: #fff;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  }
  .header-btn-green:hover,
  .header-btn-green:focus {
    background-color: #fff;
    color: #173a56;
    border: 1px solid #bcd0e5;
  }
  .mob-menu {
    display: none;
  }
  .dark-mode-cont {
    display: none;
  }
  .dark-mode-btn {
    opacity: 1;
    visibility: visible;
  }
}
/* #endregion header */

/* #region mob menu */
.header {
}
.mob-menu {
  position: fixed;
  background-color: #fff;
  top: 69px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.dark-body-mode .mob-menu {
  background-color: #1f2e35;
}
.mob-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}

.mob-menu-cont {
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-list {
  margin-bottom: ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.mobile-item {
}
.mobile-item .weightm {
  font-weight: 800;
}
.mobile-link {
  font-weight: 500;
  font-size: 29px;
  /* line-height: 28px; */
  line-height: 1.75;
  color: #22343d;
  transition: transform 200ms ease-in-out;
  display: block;
}
.dark-body-mode .mobile-link {
  color: #fff;
}
.mobile-link:hover {
  transform: scale(1.1);
}
.weight {
}
.mobile-list-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.mobile-item-btn {
  margin-bottom: 20px;
}
.mobile-btn {
  font-weight: 600;
  font-size: 16px;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
  background-color: #fff;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.mobile-btn:hover,
.mobile-btn:focus {
  background-color: #02897a;
  color: #fff;
  border: none;
}
.second-mob {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background-color: #02897a;
  border: none;
  color: #fff;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.second-mob:hover,
.second-mob:focus {
  background-color: #fff;
  color: #173a56;

  border: 1px solid #bcd0e5;
}
.footer-list-link {
}
.mob-list-cont {
  padding-bottom: 50px;
}
/* #endregion mob menu */

/* #region hero */
.hero {
  padding-top: 30px;
  padding-bottom: 100px;
}
.foto {
  display: flex;
  flex-direction: column;
}

.foto .hero-img {
  order: -1;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  /* line-height: 60px; */
  line-height: 1.7;
  max-width: 369px;
  margin-bottom: 16px;
  text-align: center;
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  /* line-height: 28px; */
  line-height: 1.6;
  max-width: 326px;
  text-align: center;
  margin: 0 auto 15px auto;
}
.hero-list-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero-btn-get {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 142px;
  height: 53px;
  background: #02897a;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.hero-btn-get:hover,
.hero-btn-get:focus {
  background-color: #fff;
  color: #173a56;
  border: none;
  border: 1px solid #bcd0e5;
}
.hero-btn-watch {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  color: #02897a;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 200ms ease-in-out;
}
.dark-body-mode .hero-btn-watch {
  background-color: transparent;
}
.hero-btn-watch:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.hero-svg {
  fill: #02897a;
  transition: transform 400ms ease-in-out;
}
.hero-btn-watch:hover .hero-svg {
  transform: rotateY(360deg);
}
@media screen and (min-width: 1150px) {
  .hero {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 100px;
  }
  .foto .hero-img {
    order: 0;
  }
  .foto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .wrapper {
    padding: 112px 0;
  }
  .hero-title {
    font-size: 40px;
    /* line-height: 60px; */
    line-height: 1.5;
    max-width: 420px;
    margin-bottom: 18px;
    text-align: left;
  }
  .hero-text {
    line-height: 1.6;
    max-width: 465px;
    margin-bottom: 45px;
    text-align: left;
  }
  .hero-list-btn {
    gap: 30px;
    justify-content: flex-start;
  }
  .hero-btn-get {
    width: 178px;
  }
}
/* #endregion hero */

/* #region product */
.product {
  padding-top: 16px;
  padding-bottom: 38px;
  margin-bottom: 100px;
}
.dark-body-mode .product {
}
.product-subtitle {
  font-weight: 700;
  font-size: 32px;
  max-width: 331px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;
}
.product-svg-cont {
  border-radius: 19px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #02897a;
  margin-bottom: 32px;
}
.violet {
  background-color: #740a76;
}
.blue {
  background-color: #4d8dff;
}
.red {
  background-color: #f03e3d;
}
.product-icons {
  fill: #fff;
}
.product-item-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 8px;
  text-align: center;
}
.product-item-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.625;
  text-align: center;
  width: 240px;
}
.product-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background-color: #02897a;
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.product-btn:hover,
.product-btn:focus {
  background-color: #fff;
  color: #173a56;
  border: none;
  border: 1px solid #bcd0e5;
}
@media screen and (min-width: 1150px) {
  .product {
    margin-bottom: 50px;
    padding-top: 50px;
    padding-top: 0;
  }
  .product-subtitle {
    max-width: 530px;
  }
  .product-list {
    gap: 30px;
    margin-bottom: 76px;
  }
  .product-item {
    width: calc((100% - 90px) / 4);
  }
  .product-svg-cont {
    margin-bottom: 26px;
  }
  .product-svg-cont {
    margin-left: 0;
  }
  .product-item-subtitle {
    text-align: left;
  }
  .product-item-text {
    text-align: left;
  }
}
/* #endregion product */

/* #region management */
.management {
  margin-bottom: 100px;
  padding-bottom: 16px;
}
.mana {
  display: flex;
  flex-direction: column;
}
.mana .management-img {
  order: -1;
}
.mana-sub {
}
.management-img {
  margin-bottom: 50px;
}
.management-subtitle {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
  max-width: 224px;
}
.management-subtitle-smoll {
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
}
.management-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.625;
  margin-bottom: 16px;
  max-width: 355px;
}
.management-list {
}
.management-item {
  margin-bottom: 16px;
}
.management-list .management-item :last-child {
  margin-bottom: 0;
}

.management-item-subtitle {
  font-weight: 600;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.62;
  margin-bottom: 12px;
}
.management-item-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.62;
  max-width: 327px;
}
@media screen and (min-width: 1150px) {
  .management {
    padding-bottom: 0;
  }
  .mana {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .mana .management-img {
    order: 0;
  }
  .management-img {
    margin-bottom: 0;
  }
  .mana-sub {
    padding-top: 41px;
    padding-bottom: 41px;
  }
  .management-text {
    margin-bottom: 30px;
    max-width: 486px;
  }
  .management-item {
    margin-bottom: 25px;
  }
  .management-item-text {
    max-width: 486px;
  }
}
/* #endregion management */

/* #region support */
.support {
  margin-bottom: 100px;
}
.support-img {
  margin-bottom: 50px;
}
.support-subtitle {
  font-weight: 700;
  font-size: 32px;
  max-width: 304px;
  margin-bottom: 16px;
}
.support-subtitle-smoll {
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
}
.support-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.62;
  max-width: 356px;
  margin-bottom: 16px;
}
.support-list {
}
.support-item {
  margin-bottom: 16px;
}
.support-item-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.625;
  max-width: 287px;
}
.support-item-cont {
  display: flex;
  align-items: center;
  gap: 30px;
}
.sup-svg {
  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: none;
}
.sup-icons {
  fill: #fff;
}
.yellow {
  background-color: #f90;
}
.red {
  background-color: #f03e3d;
}
.blue {
  background-color: #4d8dff;
}
@media screen and (min-width: 1150px) {
  .supp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .support-img {
    margin-bottom: 0;
  }
  .supp-text {
    padding-top: 41px;
    padding-bottom: 40px;
  }
  .support-subtitle {
    margin-bottom: 25px;
  }
  .support-text {
    max-width: 437px;
    margin-bottom: 30px;
  }
  .support-item {
    margin-bottom: 25px;
  }
  .support-item-text {
    max-width: 385px;
  }
}
/* #endregion support */

/* #region collaborative */
.collaborative {
  margin-bottom: 100px;
}
.collab {
  display: flex;
  flex-direction: column;
}
.collab .collaborative-img {
  order: -1;
}
.collaborative-img {
  margin-bottom: 50px;
}
.collaborative-subtitle {
  font-weight: 700;
  font-size: 32px;
  max-width: 226px;
  margin-bottom: 16px;
}
.collaborative-subtitle-smoll {
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
}
.collaborative-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.625;
  max-width: 343px;
  margin-bottom: 16px;
}
.collaborative-list {
}
.collaborative-item {
  margin-bottom: 16px;
}

.collaborative-item-subtitle {
  font-weight: 600;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.625;
  margin-bottom: 12px;
}
.collaborative-item-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.625;
  max-width: 344px;
}
@media screen and (min-width: 1150px) {
  .collab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .collab .collaborative-img {
    order: 0;
  }
  .collaborative-img {
    margin-bottom: 0;
  }
  .collab-text {
    padding: 41px 0;
  }
  .collaborative-text {
    max-width: 486px;
    margin-bottom: 30px;
  }
  .collaborative-item {
    margin-bottom: 25px;
  }
  .collaborative-item-text {
    max-width: 486px;
  }
}
/* #endregion collaborative */

/* #region process */
.process {
  margin-bottom: 100px;
}
.process-subtitle {
  font-weight: 700;
  font-size: 32px;
  max-width: 348px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
}
.process-text {
  font-weight: 500;
  font-size: 16px;
  max-width: 542px;
  margin: 0 auto;
  text-align: center;
  /* line-height: 26px; */
  line-height: 1.625;
  margin-bottom: 40px;
}
.process-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}
.pro-flex {
  display: flex;
  align-items: center;
  gap: 14px;
}
.bubble {
  fill: #fff;
  width: 239px;
  height: 65px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}
.dark-body-mode .bubble {
  background-color: #fff;
  color: #22343d;
}
.process-item-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.process-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  background-color: #02897a;
  margin: 0 auto;
  display: block;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.process-btn:hover,
.process-btn:focus {
  background-color: #fff;
  color: #173a56;
  border: none;
  border: 1px solid #bcd0e5;
}
@media screen and (min-width: 1150px) {
  .proce {
    width: 916px;
    margin: 0 auto;
  }
  .pro-flex {
    justify-content: space-between;
    gap: 0;
  }
  .process-subtitle {
    margin-bottom: 25px;
  }
  .process-text {
    margin-bottom: 40px;
  }
  .bubble {
    fill: #fff;
    padding: 15px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 281px;
    height: auto;
  }

  .dark-body-mode .bubble {
    height: 53px;
    box-shadow: none;
  }

  .process-list {
    display: flex;
    column-gap: 91px;
    row-gap: 25px;
    margin: 0 auto 50px auto;
  }
  .process-item {
    width: calc((100% - 91px) / 2);
  }

  .process-list .process-item:nth-child(1) {
    order: 1;
  }
  .process-list .process-item:nth-child(2) {
    order: 3;
  }
  .process-list .process-item:nth-child(3) {
    order: 4;
  }
  .process-list .process-item:nth-child(4) {
    order: 2;
  }
}
/* #endregion process*/

/* #region strategies*/
.strategies {
  margin-bottom: 61px;
}
.strategies-subtitle {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 8px;
  text-align: center;
}
.strategies-text {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.625;
  margin: 0 auto 40px auto;
  max-width: 349px;
  text-align: center;
}
.strategies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.strategies-item {
  border-radius: 8px;
  border: 1px solid #dedede;
  overflow: hidden;
  max-width: 350px;
}
.dark-body-mode .strategies-item {
  border: none;
}
.cont-strat {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 27px;
  padding-bottom: 40px;
}
.dark-body-mode .cont-strat {
  background-color: #fff;
  color: #1f2e35;
}
.strategies-item-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 28px; */
  line-height: 1.75;
  margin-bottom: 12px;
}
.strategies-item-text-bold {
  font-weight: 700;
}
.strategies-item-subtutle {
  font-weight: 700;
  font-size: 24px;
  /* line-height: 40px; */
  line-height: 1.7;
}
.strategies-item:nth-child(2) h3 {
  color: #02897a;
}
@media screen and (min-width: 1150px) {
  .strategies {
    margin-bottom: 171px;
  }
  .strategies-subtitle {
    text-align: left;
    margin-bottom: 10px;
  }
  .strategies-text {
    text-align: left;
    margin: 0 0 40px 0;
    max-width: 465px;
  }
  .strategies-list {
    gap: 30px;
  }
  .strategies-item {
    width: calc((100% - 60px) / 3);
  }
}
/* #endregion strategies*/

/* #region price*/
.price {
  margin-bottom: 100px;
}

.price-subtitle {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 8px;
}
.price-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 74px;
}
.price-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
.price-item {
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  padding: 32px 65px;
}
.dark-body-mode .price-item {
  background-color: #fff;
  color: #22343d;
}
.price-item:nth-child(2) {
  color: #fff;
  background-color: #02897a;
}

.price-item-subtitle {
  font-weight: 700;
  font-size: 24px;
  /* line-height: 40px; */
  line-height: 1.66;
  margin-bottom: 8px;
  text-align: center;
}
.price-item-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 40px; */
  line-height: 2.5;
  margin-bottom: 16px;
  text-align: center;
}
.price-cont {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  /* height: 58px; */
}
.price-text-cont {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  min-height: 58px;
}
.price-cont .green {
  color: #fff;
}
.price-item-subtitle-two {
  font-weight: 700;
  font-size: 76px;
  /* line-height: 100px; */
  line-height: 1.31;
  letter-spacing: 0em;
  color: #02897a;
  margin-right: 7px;
}
.price-item-text-two {
  font-weight: 700;
  font-size: 24px;
  /* line-height: 30px; */
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  margin-bottom: 4px;
}
.price-item-text-three {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 19px; */
  line-height: 1.18;
  letter-spacing: 0.01em;
  color: #afafaf;
  align-self: flex-end;
}
.price-list-two {
  margin-bottom: 38px;
}
.price-item-two {
  margin-bottom: 16px;
}
.price-item-subtitle-fore {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 22px; */
  line-height: 1.37;
  letter-spacing: 0.01em;
  text-align: center;
}
.price-btn {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background-color: #02897a;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.price-btn:hover {
  background-color: #fff;
  color: #02897a;
  border: 1px solid #bcd0e5;
}
.price-btn-green {
  font-weight: 600;
  font-size: 18px;
  color: #02897a;
  background-color: #fff;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.price-btn-green:hover {
  background-color: #02897a;
  color: #fff;
  border: 1px solid #bcd0e5;
}
@media screen and (min-width: 1150px) {
  .price-list {
    gap: 72px;
  }
  /* .price-item {
    width: calc((100% - 144px) / 3);
  } */
  .price-subtitle {
    margin-bottom: 10px;
  }
  .price-text {
    margin-bottom: 40px;
  }
}
/* #endregion price*/

/* #region feedback*/
.feedback {
  margin-bottom: 100px;
}
.feedback-subtitle {
  font-weight: 700;
  font-size: 32px;
  /* line-height: 57px; */
  line-height: 1.78;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
  text-align: center;
}
.feedback-text {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 28px; */
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  margin: 0 auto;
  max-width: 323px;
  margin-bottom: 32px;
}
.feedback-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
.feedback-item {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 28px 26px;
}
.dark-body-mode .feedback-item {
  background-color: #fff;
  border: none;
}
.feedback-stars {
  margin-bottom: 16px;
}
.feedback-item-comment {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 28px; */
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  margin-bottom: 16px;
  max-width: 275px;
}
.fid-cont {
  display: flex;
  gap: 14px;
  align-items: center;
}
.feedback-item-subtitle {
  font-weight: 600;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.feedback-item-text {
  font-weight: 500;
  font-size: 14px;
  /* line-height: 24px; */
  line-height: 1.71429;
  letter-spacing: 0.01em;
  color: #252b42;
}
@media screen and (min-width: 1150px) {
  .feedback-list {
    gap: 64px;
  }
  .feedback-item {
    width: calc((100% - 128px) / 3);
  }
  .feedback-subtitle {
    margin-bottom: 10px;
  }
  .feedback-text {
    max-width: 537px;
    margin-bottom: 40px;
  }
}
/* #endregion feedback*/

/* #region promo */
.promo {
  margin-bottom: 100px;
}
.pro {
  border-radius: 32px;
  background-color: #02897a;
  justify-content: space-between;
  max-width: 371px;
  padding-top: 17px;
  padding-left: 5px;
  padding-right: 5px;
}
.promo-subtitle {
  font-weight: 600;
  font-size: 32px;
  /* line-height: 48px; */
  line-height: 1.514;
  color: #fff;
  text-align: center;
  max-width: 335px;
  margin: 0 auto 57px auto;
}
.promo-btn {
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  display: block;
  margin: 0 auto 32px auto;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.promo-btn:hover {
  background-color: #02897a;
  color: #fff;
  border: 1px solid #bcd0e5;
}
@media screen and (min-width: 1150px) {
  .pro {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    min-width: 968px;
    padding-top: 0;
    margin: 0 auto;
  }
  .pro-text {
    padding-top: 49px;
    padding-bottom: 56px;
    padding-left: 51px;
    padding-right: 10px;
  }
  .promo-subtitle {
    font-weight: 600;
    font-size: 32px;
    /* line-height: 48px; */
    line-height: 1.514;
    color: #fff;
    min-width: 510px;
    margin-bottom: 0 0 46px 0;
    text-align: left;
  }
  .promo-btn {
    margin: 0;
  }
}
/* #endregion promo */

/* #region footer */
.footer-cont-link {
}
.footer-list-link {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 32px;
}
.footer-item-link {
}
.footer-logo-link {
  width: 40px;
  height: 40px;
  background-color: #edfffc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: #02897a;
  fill: transparent;
  transition: stroke 250ms ease-in-out, background-color 300ms ease-in-out,
    transform 250ms ease-in-out;
}
.footer-logo-link:hover,
.footer-logo-link:focus {
  stroke: #edfffc;
  background-color: #02897a;
  transform: scale(1.1);
}

.footer-svg-link {
}
.footer-logo {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 0 auto 25px auto;
  width: 180px;
}
.footer-logo-text {
  font-weight: 700;
  font-size: 30px;
  /* line-height: 28px; */
  line-height: 0.93;
  color: #173a56;
}
.dark-body-mode .footer-logo-text {
  color: #fff;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 32px;
}
.footer-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 30px; */
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 8px;
  text-align: center;
}
.dark-body-mode .footer-item-subtitle {
  color: #fff;
}
.footer-item-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 35px; */
  line-height: 2.1875;
  text-align: center;
}
.footer-form-text {
  max-width: 280px;
  margin: 0 auto 30px auto;
  font-weight: 500;
  font-size: 20px;
  /* line-height: 30px; */
  line-height: 1.5;
  text-align: center;
}
.footer-form-cont {
}
.footer-input-svg {
  position: relative;
  margin-bottom: 25px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.footer-icons {
  position: absolute;
  left: 35px;
  /* top: 50%;
  transform: translateY(-50%); */
  fill: #02897a;
  opacity: 0;
  transition: opasity 250ms ease-in-out, transform 250ms ease-in-out;
}
.dark-body-mode .footer-icons {
  opacity: 0;
}
.dark-body-mode .footer-tel:hover + .footer-icons {
  opacity: 1;
}
.footer-tel:hover + .footer-icons {
  opacity: 1;
  transform: scale(1.1);
}
.footer-tel {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  background-color: transparent;
  padding-left: 42px;
  outline: transparent;
}
.dark-body-mode .footer-tel {
  border: none;
  background-color: #fff;
}
.footer-tel::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 28px; */
  line-height: 1.75;
  color: #02897a;
  opacity: 0;
  transition: opasity 250ms ease-in-out, font-size 250ms ease-in-out;
}
.dark-body-mode .footer-tel::placeholder {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
.dark-body-mode .footer-tel:hover::placeholder {
  opacity: 1;
  font-size: 18px;
}
.footer-tel:hover::placeholder {
  opacity: 1;
  font-size: 18px;
}
.footer-btn {
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  width: 131px;
  height: 39px;
  color: #fff;
  background-color: #02897a;
  display: block;
  margin: 0 auto 44px auto;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.footer-btn:hover {
  background-color: #fff;
  color: #173a56;
  border: 1px solid #bcd0e5;
}
.footer-text {
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 1150px) {
  .flexe {
    display: flex;
    justify-content: space-between;
  }
  .footer-logo {
    margin-bottom: 18px;
  }
  .footer-item-subtitle {
    text-align: left;
  }
  .footer-item-text {
    text-align: left;
  }
  .footer-form-text {
    max-width: 280px;
    margin: 0 0 30px 0;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 30px; */
    line-height: 1.5;
    text-align: left;
  }
  .footer-btn {
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    width: 131px;
    height: 39px;
    color: #fff;
    background: #02897a;
    display: block;
    margin: 0 0 16px 0;
  }
  .footer-icons {
    opacity: 1;
    left: 13px;
  }
  .footer-tel::placeholder {
    color: #02897a;
    opacity: 1;
  }
}
/* #endregion footer */
